.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }

// RTL
[dir="rtl"] .text-left { text-align: right; }
[dir="rtl"] .text-right { text-align: left; }