@import "../settings/variables";
@import "../settings/mixins";

// Row
.row {
  display: flex;
  flex-wrap: wrap;
  @include rtl-swap(
    margin-left,
    calc(var(--grid-gap) / -2),
    margin-right,
    calc(var(--grid-gap) / -2)
  );
  @include rtl-swap(
    margin-right,
    calc(var(--grid-gap) / -2),
    margin-left,
    calc(var(--grid-gap) / -2)
  );
}

// Base Columns
[class*="col-"] {
  @include rtl-swap(
    padding-left,
    calc(var(--grid-gap) / 2),
    padding-right,
    calc(var(--grid-gap) / 2)
  );
  @include rtl-swap(
    padding-right,
    calc(var(--grid-gap) / 2),
    padding-left,
    calc(var(--grid-gap) / 2)
  );
  box-sizing: border-box;
  flex-basis: 0;
  flex-grow: 1;
}

// Default Columns and Offsets
@include generate-grid-columns();

// Per Breakpoint
@each $bp-name, $bp-values in $breakpoints {
  @include media($bp-name) {
    :root {
      --container-max-width: nth($bp-values, 2);
      --container-padding: nth($bp-values, 3);
      --grid-gap: nth($bp-values, 4);
    }
    @include generate-grid-columns("-#{$bp-name}");
  }
}

// RTL for Offsets
@each $bp-name, $bp-values in $breakpoints {
  @for $i from 0 through $grid-columns - 1 {
    [dir="rtl"] .offset#{$bp-name}-#{$i} {
      margin-inline-start: percentage($i / $grid-columns);
      margin-left: 0 !important;
    }
  }
}
