.center {
  text-align: center;
}

.mxauto {
  margin-left: auto;
  margin-right: auto;
}

.myauto {
  margin-top: auto;
  margin-bottom: auto;
}

// RTL Global
[dir="rtl"] .text-left { text-align: right; }
[dir="rtl"] .text-right { text-align: left; }